@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --x: 50%;
    --y: 50%;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-new(root) {
  animation: reveal-in 0.6s ease-in-out;
  z-index: 2;
}

::view-transition-old(root) {
  z-index: 1;
}

@keyframes reveal-in {
  from {
    clip-path: circle(0% at var(--x) var(--y));
  }
  to {
    clip-path: circle(150% at var(--x) var(--y));
  }
}
